[build]
  command = "npm run build"
  publish = "dist/auto-qcm-web"
  base = "."

[build.environment]
  NODE_VERSION = "20"

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "no-cache"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
